{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/posts.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
{% endblock %}

{% block content %}

	<nav class="blend">
		<ul>
			<li><a href="http://127.0.0.1:8000">HOME</a></li>
			<li><a href="http://127.0.0.1:8000/admin/">ADMIN</a></li>
			<li><a href="{% url 'post_list' %}">POSTS</a></li>
			<li><a href="{% url 'post_create' %}">NEW POST</a></li>
		</ul>
	</nav>

	{% for post in posts %}
		<div class="view_post">
			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
			<p>{{ post.content }}</p>
			<div class="author_date">
				<p>Author: {{ post.author }}</p>
				<p>Published date: {{ post.published_date }}</p>
			</div>
		</div>
	{% endfor %}

{% endblock %}



